@import url('https://fonts.googleapis.com/css?family=Cairo');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
}
#container{
    width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 38px;
    
}





a{
    color: white;
    text-decoration: none;
}
a:link{
    color: wheat;
}
a:hover{
    color: greenyellow;
}
